body {
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}
.header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: auto ;
    height: 650px;
}
.main-container{
    position: absolute;
    /* bottom: 4px; */
  right: 4px;
    color: #FFF;
    text-align: right;
    margin-right: 180px;
    margin-top: 160px;
    
    
}
.text-container{
    font-size: 40px;
    
}
.pragrap-container{
    font-size: 15px;
    color: #e2e1e1;
}
.btn-primary{
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
    color: rgb(101, 101, 234);
    font-weight: 700;
}
.mistake-section{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 100px;
    gap: 60px;
    margin-left: 350px;
}
 .main-title{
    font-size: 28px;
 }
 .title-description{
    font-size: 12px;
    color: #434242;
    line-height: 25px;
 }
.list-section{
    list-style: none;
    line-height: 25px;
    color: #434242;
    font-size: 12px;
}
.my-title{
    text-align: center;
    margin-top: 120px;
}
.learn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    gap: 20px;
}
.learn{
    text-align: center;
}
.callnow-container{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 120px;
    height: 300px;
}
.call-discription{
    padding: 40px;
    margin-left: 5%;
}
.keep{
    color: #FFF;
    font-size: 35px;
}
footer{
    display: flex;
    margin-top: 120px;
    background: black;
    padding: 130px;
    gap: 380px;
    color: #FFF;
}
.img-container a{
    margin-right: 25px;
}
.amazing{
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 25px;
}
.btn-end{
    border-radius: 5px;
    padding: 10px 22px;
    border: none;
    width: 60px;
    color: #FFF;
    background: rgb(85, 85, 231);
    margin-top: 10px;
}